## Claude code
alias cc="claude --dangerously-skip-permissions"
alias ccp="claude --permission-mode plan"
alias ccw="claude --dangerously-skip-permissions --worktree"

## Devbox
alias dbx="devbox"
alias dbr="devbox run"
alias dbs="devbox shell"

## Docker
alias dc="docker compose"
alias dcx="docker compose exec"

## Git/GitHub
alias g="git"

## Python
alias python="python3"

## Obsidian
alias ob="Obsidian"
