# This is Git's per-user configuration file.
[user]
	name = Masakuni Kato
	email = 7091+mackato@users.noreply.github.com
	signingkey = 6054AA174EC010B988C00C92C8B4B8518B0395EB
[alias]
	b = branch
	ci = commit
	co = checkout
	st = status
[fetch]
	prune = true
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = main
